@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nanum+Gothic:wght@800&family=Outfit&family=Playfair+Display&family=Poppins:wght@500&family=Ubuntu&family=Viga&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins';
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4)100%, rgba(255, 255, 255, 0.4)100%), url('../img/bg.png');
}
h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
    padding: 10px 0;
}
.profile-content {
    display: block;
    padding: 10px 20px;
    margin: auto;
    max-width: 1000px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 6;
    padding: 15px 0;
}
nav .login-btn {
    position: relative;
    color: #2d63c8;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #1e1ae0;
    padding: 10px 20px;
    cursor: pointer;
    transition: .2s;
    z-index: 1;
}
nav .login-btn:before {
    content: ' ';
    position: absolute;
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    background-color: #1e1ae0;
    transition: all .2s ease-in-out;
    z-index: -1;
}
nav .login-btn:hover {
    color: #fff;
}
nav .login-btn:hover:before {
    width: 100%;
}
.profile-section {
    padding: 35px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-top: 2px solid #1e1ae0;
    border-radius: 10px 10px 0 0;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
}
.img {
    text-align: center;
}
.profile-info .title {
    padding: 10px 0;
    color: #00001477;
    font-size: 14px;
    font-family: 'Inter';
}
.profile-info input {
    padding: 8px 10px;
    margin-bottom: 8px;
    outline: none;
    width: 100%;
    border: 1px solid #fefefe;
    border-radius: 8px;
    border: 2px solid #01001b3f;
    font-size: 18px;
    transition: .2s;
}
.profile-info input:focus {
    border: 2px solid #0300c5;
    box-shadow: 0 0 10px rgba(3, 0, 197, 0.314);
}
.profile-section img {
    display: block;
    height: 180px;
    width: 180px;
    border: 5px solid #0300c5;
    border-radius: 50%;
    box-shadow: 0 0 10px #0e0c9e4f;
}
#button {
    padding: 10px 15px;
    margin-top: 8px;
    width: 100%;
    border: none;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 6px;
    background-color: #0300c5;
    cursor: pointer;
    transition: .2s;
}
#button:hover {
    box-shadow: 0 0 15px rgba(3, 0, 197, 0.618);
}


@media only screen and (max-width: 768px) {
    nav img {
        height: 45px;
    }
    nav button {
        font-size: 15px;
        padding: 5px 10px;
        font-weight: 400;
    }
    .profile-section {
        text-align: center;
        padding: 25px 15px;
        gap: 20px;
    }
    .profile-section img {
        height: 120px;
        width: 120px;
    }
    .profile-info p {
        font-size: 14px;
    }
    .profile-info .title {
        font-size: 9px;
    }
    .edit-profile {
        font-size: 14px;
        padding: 6px 12px;
    }

    .post-header img {
        height: 35px;
        width: 35px;
    }
    .username {
        font-size: 15px;
    }
    .timestamp {
        font-size: 11px;
    }
    .post-content p {
        font-size: 12px;
    }
    .post-footer button {
        font-size: 14px;
        padding: 7px 12px;
    }
}